[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Genius Coders (GeniusCoders)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Genius Coders (GeniusCoders)
	label-Verified = -1..+1 group user/Genius Coders (GeniusCoders)
	push = group user/Genius Coders (GeniusCoders)
	read = group user/Genius Coders (GeniusCoders)
	rebase = group user/Genius Coders (GeniusCoders)
	removeReviewer = group user/Genius Coders (GeniusCoders)
	submit = group user/Genius Coders (GeniusCoders)
[access "refs/heads/*"]
	create = group user/Genius Coders (GeniusCoders)
	push = +force group user/Genius Coders (GeniusCoders)
	pushMerge = group user/Genius Coders (GeniusCoders)
	read = group user/Genius Coders (GeniusCoders)
[access "refs/tags/*"]
	push = group user/Genius Coders (GeniusCoders)
	push = +force group user/Genius Coders (GeniusCoders)
